<!--Main Navigation-->
<header>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
        <div class="container-fluid">

            <!-- Brand -->
            <a class="navbar-brand waves-effect" routerLink="main">
                <strong class="blue-text">{{ infoService.info.titulo }}</strong>
            </a>

            <!-- Collapse -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left -->
                <ul class="navbar-nav mr-auto">
                    <li routerLinkActive="active" class="nav-item">
                        <a class="nav-link waves-effect" routerLink="main">
                            Home <!-- <span class="sr-only">(current)</span> -->
                        </a>
                    </li>
                    <li routerLinkActive="active" class="nav-item">
                        <a class="nav-link waves-effect" routerLink="analitycs">
                            Analisis <!-- <span class="sr-only">(current)</span> -->
                        </a>
                    </li>
                    <li routerLinkActive="active" class="nav-item">
                        <a class="nav-link waves-effect" routerLink="news">
                            News <!-- <span class="sr-only">(current)</span> -->
                        </a>
                    </li>
                    <li routerLinkActive="active" class="nav-item">
                        <a class="nav-link waves-effect" routerLink="about">
                            About <!-- <span class="sr-only">(current)</span> -->
                        </a>
                    </li>
                </ul>
                <!-- Right -->
                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item">
                        <a [href]="infoService.info.facebook" class="nav-link waves-effect" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a [href]="infoService.info.twitter" class="nav-link waves-effect" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a [href]="infoService.info.github" class="nav-link border border-light rounded waves-effect" target="_blank">
                            <i class="fab fa-github mr-2"></i>WAB GitHub
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <!-- Navbar -->
</header>
<!--Main Navigation-->